<div class="container">
    <%= link_to 'delete', article_path(@article), method: :delete, data: {confirm: 'Are you sure?'} %>
    <%= link_to 'edit', edit_article_path(@article) %>
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>
  <div><%= link_to "Back to index", articles_path %></div>s
</div>